<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
      <h3 class="content-header-title mb-0">Import user role</h3>
      <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/home']">หน้าหลัก</a>
            </li>
            <li class="breadcrumb-item">Import user role</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-header-right col-md-6 col-12"></div>
  </div>
  
  <div class="content-body">
    <section id="basic-form-layouts">
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="basic-layout-form">Import Data</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-12">
                      <p-fileUpload #fileInput name="importFiles[]" maxFileSize="1000000000" accept=".xlsx, .xls"
                        customUpload="true" (uploadHandler)="upload(fileInput)" showUploadButton="true"
                        showCancelButton="true">
                      </p-fileUpload>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="card-footer">
              <div class="col-md-12">
                <div class="form-actions">
                  <button type="button" class="btn btn-primary mr-1" (click)="search(dt)">
                    <i class="ft-search"></i>Search</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
  
      <!-- <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="basic-layout-form">Results</h4>
              <div class="heading-elements mt-0">
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
  
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>
  </div>
  