<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">ข้อมูลแผนก</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']">หน้าหลัก</a>
          </li>
          <li class="breadcrumb-item">ข้อมูลแผนก</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12"></div>
</div>
<div class="content-body">
  <section id="basic-form-layouts">
    <div class="row match-height">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-form">Search</h4>
            <!-- <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a> -->
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>ชื่อแผนก</label>
                      <input type="text" autocomplete="off" class="form-control" id="roomCode" placeholder="ทั้งหมด"
                        [(ngModel)]="department">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-md-12">
              <div class="form-actions">
                <button type="button" class="btn btn-primary mr-1" (click)="search(dt)">
                  <i class="ft-search"></i>Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row match-height">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-form">Search results</h4>
            <div class="heading-elements mt-0">
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <p-table #dt [columns]="cols" [value]="datasource" [paginator]="true" [rows]="30"
                [rowsPerPageOptions]="[30,50,100]" dataKey="id" [resizableColumns]="false" [scrollable]="true"
                [reorderableColumns]="false" stateStorage="local" stateKey="datasource-local">
                <!-- <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    Search:
                    <input type="text" autocomplete="off" pInputText size="20" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      style="width:auto">
                  </div>
                </ng-template> -->
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="text-center" [pSortableColumn]="'number'" pResizableColumn pReorderableColumn>
                      #
                      <p-sortIcon [field]="'number'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'code'" pResizableColumn pReorderableColumn>
                      รหัส
                      <p-sortIcon [field]="'code'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'name'" pResizableColumn pReorderableColumn>
                      ชื่อแผนก
                      <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'tel'" pResizableColumn pReorderableColumn>
                      เบอร์ติดต่อ
                      <p-sortIcon [field]="'tel'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'dis_status_dis'" pResizableColumn pReorderableColumn>
                      แสดงบน Mobile
                      <p-sortIcon [field]="'dis_status_dis'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'action'" pResizableColumn pReorderableColumn>
                      Action
                      <p-sortIcon [field]="'action'"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col [style.width]="'70px'">
                    <col [style.width]="'150px'">
                    <col [style.width]="'200px'">
                    <col [style.width]="'200px'">
                    <col [style.width]="'150px'">
                    <col [style.width]="'100px'">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td class="text-center">
                      {{ rowData['number'] }}
                    </td>
                    <td>
                      {{ rowData['code'] }}
                    </td>
                    <td>
                      {{ rowData['name'] }}
                    </td>
                    <td class="text-center">
                      {{ rowData['tel'] }}
                    </td>
                    <td class="text-center">
                      {{ rowData['dis_status_dis'] }}
                    </td>
                    <td class="text-center">
                      <a class="primary edit mr-1"
                        (click)="showModalDialogDetail(rowData['id'], rowData['tel'], rowData['dis_status'])">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td [attr.colspan]="columns.length" class="text-center">
                      No data available in table
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p-dialog header="Action" [(visible)]="displayModal" [position]="'top'" [modal]="true" [style]="{width: '30vw',minWidth:'300px'}"
  [baseZIndex]="50000" [draggable]="false" [resizable]="false">
  <form [formGroup]="itemFormGroup" class="contact-input">
    <div class="modal-body">
      <label>เบอร์ติดต่อ</label>
      <input type="text" autocomplete="off"
        [ngClass]="{ 'is-invalid': f.tel.errors && ( f.tel.dirty ||  f.tel.touched) }" class="form-control required"
        id="tel" formControlName="tel">
      <div *ngIf="f.tel.errors" class="invalid-feedback">
        <div *ngIf="f.tel.errors.required">This field is required.</div>
      </div>
    </div>
    <div class="modal-body">
      <label>แสดงบน Mobile</label>
      <div class="col-md-1">
        <p-checkbox formControlName="dis_status" [binary]="true"></p-checkbox>
      </div>
    </div>
  </form>
  <p-footer>
    <fieldset class="form-group position-relative has-icon-left mb-0">
      <button type="button" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"
        (click)="saveItem()">
        <i class="fa fa-paper-plane-o d-lg-none"></i>
        <span class="  d-lg-block">บันทึก</span>
      </button>
    </fieldset>
  </p-footer>
</p-dialog>