<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">สวัสดิการบริษัท</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']">หน้าหลัก</a>
          </li>
          <li class="breadcrumb-item">สวัสดิการบริษัท</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
  </div>
</div>
<div class="content-body">
  <section id="basic-form-layouts">

    <div class="row match-height">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-form">Search</h4>
            <!-- <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a> -->
          </div>
          <div class="card-content collapse show">
            <div class="card-body">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>หัวข้อ</label>
                      <input type="text" autocomplete="off" class="form-control" id="topic" placeholder="ทั้งหมด"
                        [(ngModel)]="title">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="col-md-12">
              <div class="form-actions">
                <button type="button" class="btn btn-primary mr-1" (click)="search(dt)">
                  <i class="ft-search"></i>Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row match-height">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="basic-layout-form">Search results</h4>
            <div class="heading-elements mt-0">
              <button type="button" class="btn btn-success" (click)="showModalDialogDetail('ADD', '', '', '')">
                <span class="d-md-block  ">
                  <i class="ft-plus"></i>
                  เพิ่มรายการ
                </span>
              </button>
            </div>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">

              <p-table #dt [columns]="cols" [value]="datasource" [paginator]="true" [rows]="30"
                [rowsPerPageOptions]="[30,50,100]" dataKey="id" [resizableColumns]="false" [scrollable]="true"
                [reorderableColumns]="false" stateStorage="local" stateKey="datasource-local">
                <!-- <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    Search:
                    <input type="text" autocomplete="off" pInputText size="20" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      style="width:auto">
                  </div>
                </ng-template> -->

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="text-center" [pSortableColumn]="'number'" pResizableColumn pReorderableColumn>
                      #
                      <p-sortIcon [field]="'number'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'title'" pResizableColumn pReorderableColumn>
                      หัวข้อ
                      <p-sortIcon [field]="'title'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'detail'" pResizableColumn pReorderableColumn>
                      รายละเอียด
                      <p-sortIcon [field]="'detail'"></p-sortIcon>
                    </th>
                    <th class="text-center" [pSortableColumn]="'action'" pResizableColumn pReorderableColumn>
                      Action
                      <p-sortIcon [field]="'action'"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col [style.width]="'70px'">
                    <col [style.width]="'200px'">
                    <col [style.width]="'200px'">
                    <col [style.width]="'100px'">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td class="text-center">
                      {{ rowData['number'] }}
                    </td>
                    <td>
                      {{ rowData['title'] }}
                    </td>
                    <td>
                      {{ rowData['detail'] }}
                    </td>
                    <td class="text-center">
                      <a class="primary edit mr-1"
                        (click)="showModalDialogDetail(rowData['id'], rowData['title'], rowData['detail'], rowData['url'])">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      <a class="danger delete mr-1" (click)="showModalDialogConfirmDelete(rowData['id'])">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td [attr.colspan]="columns.length" class="text-center">
                      No data available in table
                    </td>
                  </tr>
                </ng-template>
              </p-table>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<p-dialog header="Action" [(visible)]="displayModal" [position]="'top'" [modal]="true" [style]="{width: '40vw',minWidth:'300px'}"
  [baseZIndex]="50000" [draggable]="false" [resizable]="false">
  <form [formGroup]="itemFormGroup" class="contact-input">
    <div class="modal-body">
      <label>หัวข้อ</label>
      <input type="text" autocomplete="off"
        [ngClass]="{ 'is-invalid': f.title.errors && ( f.title.dirty ||  f.title.touched) }"
        class="form-control required" id="title" formControlName="title">
      <div *ngIf="f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">This field is required.</div>
      </div>
    </div>
    <div class="modal-body">
      <label>รายละเอียด</label>
      <textarea class="form-control" id="detail" rows="3" placeholder="" formControlName="detail"></textarea>
    </div>
    <div class="modal-body">
      <label>แนบไฟล์ (PDF)</label>
      <input class="form-control" type="file" id="psdFile" name="psdFile" accept="application/pdf" [(ngModel)]="psdFile"
        [ngModelOptions]="{standalone: true}" (change)="changeListener($event)">
      <div class="p-md-12 ui-fluid">
        <a class="danger delete mr-1" (click)="deleteFile()">
          <i class="fas fa-trash-alt"></i>
        </a>
        <a class="primary mr-1" [href]="dataUrl" target="_blank">เปิดไฟล์</a>
      </div>
    </div>
    <!-- <div class="modal-body" *ngIf="displayUrl == true && dataUrl">
      <label>Link File</label>
      <div class="p-md-10 ui-fluid">
        <a class="primary mr-1" [href]="dataUrl" target="_blank">{{fileName}}</a>
        <a class="danger delete mr-1" (click)="deleteFile()">
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
    </div> -->
  </form>
  <p-footer>
    <fieldset class="form-group position-relative has-icon-left mb-0">
      <button type="button" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"
        (click)="saveItem()">
        <i class="fa fa-paper-plane-o d-lg-none"></i>
        <span class="  d-lg-block">บันทึก</span>
      </button>
    </fieldset>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="modalConfirmDelete" [position]="'top'" [modal]="true" [style]="{width: '30vw',minWidth:'300px'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p style="text-align: center;">คุณแน่ใจหรือไม่ว่าต้องการลบข้อมูลนี้?</p>
  <p-footer>
    <fieldset class="form-group position-relative has-icon-left mb-0">
      <button type="button" id="edit-contact-item" class="btn btn-success edit-contact-item" data-dismiss="modal"
        (click)="deleteItem()">
        <i class="fa fa-paper-plane-o d-lg-none"></i>
        <span class="  d-lg-block">ตกลง</span>
      </button>
      <button type="button" id="edit-contact-item" class="btn btn-danger edit-contact-item" data-dismiss="modal"
        (click)="showModalDialogCancelDelete()">
        <i class="fa fa-paper-plane-o d-lg-none"></i>
        <span class="  d-lg-block">ยกเลิก</span>
      </button>
    </fieldset>
  </p-footer>
</p-dialog>